// Base

html {
	color: $body-color;
	background-color: $grey-lightest;
	font-family: "Aribau Grotesk", system-ui, sans-serif;
	font-size: 18px;
	line-height: $line-height;
	overflow-x: hidden;
	transition: color $anim-time $anim-curve,
		background-color $anim-time $anim-curve;

	// Source: https://medium.com/@MateMarschalko/improving-font-rendering-with-css-3383fc358cbc
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

html.dark {
	color: $white;
	background-color: $grey-darker;

	section.convo .col {
		background-color: $grey-darkest;
	}

	.bubble:nth-child(odd) {
		color: $body-color;
	}

	.bubble:nth-child(even) {
		background-color: $grey-dark;
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

img,
svg {
	vertical-align: top;
	max-width: 100%;
}
