// Utilities

.hide-sm,
.hide-lg {
	display: none;
}

@media (max-width: 767px) {
	.hide-lg {
		display: block;
	}
}

@media (min-width: 768px) {
	.hide-sm {
		display: block;
	}

	.center {
		text-align: center;
	}
}
