// Bubble

.bubble {
	border-radius: $line-height * 1.5;
	padding: $line-height;

	&:nth-child(odd) {
		background-color: $purple;
		border-top-right-radius: 0;
	}

	&:nth-child(even) {
		background-color: $grey-lighter;
		border-top-left-radius: 0;
	}
}
