// Form

.form {
	display: flex;
	flex-direction: column;
	margin-top: -$line-height/2;
	margin-bottom: -$line-height/2;
}

.form__row {
}

input {
	color: inherit;
	background: none;
	width: 100%;
	text-align: center;
	border: 2px solid;
	border-radius: $line-height;
	padding: $line-height/2;
	margin-top: $line-height/2;
	margin-bottom: $line-height/2;

	&::-webkit-input-placeholder {
		color: inherit;
		text-align: center;
	}

	&:-moz-placeholder {
		/* Firefox 18- */
		text-align: center;
	}

	&::-moz-placeholder {
		/* Firefox 19+ */
		text-align: center;
	}

	&:-ms-input-placeholder {
		text-align: center;
	}
}

button[type="submit"] {
	@extend .button;
	margin: $line-height/2;
}

@media (min-width: 601px) {
	.form {
		margin-right: -$line-height/2;
		margin-left: -$line-height/2;
	}

	.form__row {
		display: flex;
		justify-content: center;
	}

	input {
		margin-right: $line-height/2;
		margin-left: $line-height/2;
	}
}
