// Colours

$grey-lightest: #f4f4f4;
$grey-lighter: #e3e3e3;
// $grey-light: ;
// $grey: ;
$grey-dark: #404040;
$grey-darker: #2b2b2b;
$grey-darkest: #222222;
$purple: #b486e2;
$white: #ffffff;

$primary: $purple;

// Typography

$line-height: 26px;
